* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 66px;
}
h2 {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-transform: uppercase;
}
h3 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 48.6px;
}
.title-1 {
  padding-left: 91px;
}
.title-2 {
  padding-left: 30px;
}
.center {
  padding-left: calc(50% - 611px);
  padding-right: calc(50% - 611px);
}

.top {
  height: 700px;
  background-image: url(img/bgtop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  padding: 26px 0 60px 0;
  max-width: 245.17px;
}
.top__content {
  max-width: 542px;
}
.top__text {
  padding-top: 24px;
  padding-bottom: 40px;
  font-family: "Golos Text";
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: center;
}
.top__button {
  width: 263px;
  height: 72px;
  padding: 0 50px;
  border-radius: 66px;
  transition: background-color 1s;
  border: none;
}
.btn-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
  color: #ffffff;
}
.button-box {
  display: flex;
  gap: 16px;
}
.top__button_item-1 {
  background: #000;
}
.top__button_item-1:hover {
  background: #fbce51;
}
.top__button_item-1:hover a {
  color: #1f1f1f;
}
.top__button_item-2 {
  background: transparent;
  border: 2px solid #1f1f1f;
}
.top__button_item-2:hover {
  background: #000;
}
.top__button_item-2:hover a {
  color: #fff;
}
._more {
  color: #000;
}
.marquee {
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  padding: 18px 0;
  color: #ffffff;
  background: #f54932;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: hidden;
}
.marquee img {
  align-self: center;
  padding: 0 12px;
}
.marquee span {
  display: inline-flex;
  padding-left: 100%;
  animation: marquee 40s linear infinite;
}

.support__heading {
  max-width: 764px;
}
h3 span {
  color: #f54932;
  font-weight: 700;
}
.support-box {
  padding-top: 80px;
}
.support-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.support__content {
  display: flex;
  gap: 44px;
}
.support__img {
  width: 474px;
  height: 527px;
}
.support__img img {
  height: 100%;
}
.img-mobile {
  display: none;
}
.img-desktop {
  max-width: 474px;
  max-height: 527px;
}
.support__content-heading {
  padding-bottom: 46px;
}
.support__content-heading span {
  color: #f54932;
}
.support__content-right {
  padding-left: 10px;
}
.table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.table td {
  border: 2px solid #d0d0d0;
  padding: 16px 16px 16px 0;
}
.table tr td:first-child {
  border-left: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
}
.table tr td:last-child {
  border-right: none;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.table tr td {
  border-top: none;
}
.table tr:last-child td {
  border-bottom: none;
}
table td:nth-child(1) {
  max-width: 230px;
}
del {
  text-decoration: line-through;
  text-decoration-color: red;
}
.support__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #3057a2;
}

.stages {
  margin-top: 200px;
}
.stages-text {
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color: #3057a2;
  width: 280px;
}
.stages__block-text {
  display: flex;
  gap: 20px;
  align-items: center;
}
.stages-title {
  font-family: "Merriweather";
  font-size: 54px;
  font-weight: 400;
  line-height: 64.8px;
  text-transform: uppercase;
}
.stages__content {
  position: relative;
  margin-top: 54px;
  margin-bottom: 148px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.stages-img {
  position: absolute;
  z-index: 10;
  right: -50px;
  top: 170px;
}
.item {
  display: flex;
  gap: 16px;
  padding-top: 20px;
  padding-right: 20px;
  background-image: url(img/imageBg.png);
  min-height: 112px;
  box-sizing: border-box;
}
.item img {
  padding-left: 20px;
  width: 36px;
  height: 36px;
}
.item__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.item-3 {
  grid-row: span 2;
  min-height: 244px;
}
.item-7 {
  grid-column: span 2;
  min-height: 136px;
}
.item-7 p {
  max-width: 440px;
}
.item-6 {
  min-height: 136px;
}
.slider-mob {
  display: none;
}
.players {
  margin-top: 200px;
  margin-bottom: 140px;
}
.slide {
  width: 335px;
  height: 300px;
  background-image: url(img/imageBg.png);
  padding-top: 62px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.slide_item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 28px;
}
.players-top {
  display: flex;
  justify-content: space-between;
}
.prev-btn,
.next-btn,
.player-prev,
.player-next {
  background: transparent;
  border: none;
}
.players-nav {
  position: absolute;
  right: calc(50% - 600px);
  padding-top: 28px;
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}
.svg-btn:hover {
  fill: #fbce51;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.card img {
  max-width: 320px;
}
.card__name {
  padding-top: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
.card__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 6px;
  margin-bottom: 20px;
}
.card button {
  width: 113px;
  height: 35px;
  border-radius: 62px;
  border: 1px solid #3057a2;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #3057a2;
  background: transparent;
  transition: background-color 1s;
}
.card button:hover {
  color: #fff;
  background: #3057a2;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.num-page {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
.footer {
  background: #e9ded4;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #313131;
  padding-top: 40px;
  padding-bottom: 72px;
  opacity: 0.6;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: 19px;
    padding-right: 19px;
  }
  .logo {
    padding: 18px 0 40px 0;
    max-width: 213px;
  }
  h1 {
    font-size: 36px;
    line-height: 37.8px;
  }
  h2 {
    font-size: 36px;
    line-height: 39px;
  }
  h3 {
    font-size: 28px;
    line-height: 37.8px;
  }
  .top__content {
    max-width: 542px;
    padding-left: 0;
  }
  .top__text {
    padding-bottom: 32px;
  }
  .top__button {
    width: 100%;
    height: 47px;
  }
  .button-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .marquee {
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    overflow-x: hidden;
  }

  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .support-box {
    padding: 48px 0 0 0;
  }
  .support-top {
    margin-bottom: 34px;
  }
  .support__content {
    flex-wrap: wrap;
    gap: 24px;
  }

  .table {
    display: block;
    width: 100%;
  }

  .table td {
    display: block;
    width: 100%;
    border-bottom: 2px solid #d0d0d0;
  }

  .no-vertical-border td {
    border: none;
  }
  .table tr td:last-child {
    border-right: none;
    padding-left: 0;
  }
  .table td {
    min-width: 330px;
    max-width: 700px;
  }
  .table td {
    border-bottom: 2px solid #d0d0d0;
    padding: 0 0 12px 0;
  }
  .table tr td:first-child {
    border: none;
    padding-top: 12px;
  }
  .support__link {
    font-size: 18px;
    line-height: 21.6px;
  }
  .support__img {
    width: 335px;
    height: 405px;
  }
  .support__content img {
    width: 100%;
  }
  .stages__content {
    display: none;
  }
  .stages {
    margin-top: 120px;
  }

  .item__text {
    font-size: 18px;
    line-height: 21.6px;
  }
  .stages__block-text {
    flex-wrap: wrap;
    gap: 12px;
  }
  .stages-text {
    width: 100%;
  }
  .stages-title {
    font-size: 36px;
    line-height: 39px;
  }
  .slider-mob {
    display: block;
    margin-top: 148px;
    position: relative;
  }

  .slider-icon ul {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .icon-dot {
    fill: none;
  }
  .slide-nav {
    padding-top: 28px;
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
  }
  .disabled {
    fill: #d9d9d9;
    pointer-events: none;
  }
  .slider-img {
    position: absolute;
    top: -124px;
    left: 16px;
    max-width: 335px;
  }
  .players {
    margin-top: 120px;
    margin-bottom: 160px;
  }
  .players-top {
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card img {
    max-width: 244px;
  }
  .cards {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .card {
    width: 100%;
    padding-top: 30px;
  }
  .players-nav {
    top: 520px;
    right: calc(50% - 60px);
  }
  .footer__text {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .center {
    padding-left: 19px;
    padding-right: 19px;
  }
  .support__content {
    flex-wrap: wrap;
  }
  .support__content img {
    width: 100%;
  }
  .stages-img {
    right: -40px;
    top: -180px;
  }
}
@media (min-width: 769px) and (max-width: 1139px) {
  .center {
    padding-left: 19px;
    padding-right: 19px;
  }
  .support-top img {
    width: 75%;
  }
  .players-nav {
    right: calc(50% - 400px);
  }
}
